{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block content %}

<h2>Contato</h2>

<p>Você pode me encontrar nas redes sociais abaixo:</p>

<div class="social-links">
    <a href="https://www.linkedin.com/in/talyta-ferreira-a8b6a33aa"
       target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
    </a>

    <a href="mailto:talytaferreira02@gmail.com">
        <i class="fas fa-envelope"></i>
    </a>

    <a href="https://instagram.com/talyxsz"
       target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
    </a>
</div>

{% endblock %}
