{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}

<section class="hero">

    <h2>Olá, eu sou <span>Talyta</span></h2>

    <p>
        Desenvolvedora Web apaixonada por tecnologia.
        Trabalho com Python, Flask e criação de interfaces modernas.
    </p>

    <a href="/projetos" class="btn">Ver Projetos</a>

    <div class="social-links">
        <a href="https://www.linkedin.com/in/talyta-ferreira-a8b6a33aa"
           target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://github.com/"
           target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i>
        </a>

        <a href="https://instagram.com/talyxsz"
           target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
        </a>

        <a href="mailto:talytaferreira02@gmail.com">
            <i class="fas fa-envelope"></i>
        </a>
    </div>

</section>

{% endblock %}
